<h1>Editing Goal</h1>

<%= render 'form', goal: @goal %>

List of Deposits:
<ul>
<% @goal.deposit.each do |goal| %>
  <li><%= deposit.which_goal %></li>
  <% end %>
</ul>

<%= link_to 'Show', @goal %> |
<%= link_to 'Back', goals_path %>
